---
layout: splash
permalink: /
image_sliders:
  - slider1
intro:
  - excerpt: '# We are happy to make you happy!'
  - excerpt: 'Photo Hyundai is a fun studio where you will enjoy every second.<br/>Come capture magical moments.'
portfolio_row:
  - image_path: /assets/images/service/service1.jpg
    title: "Standard Photo"
    url: "/docs/configuration/"
    label: "Standard Photo"
  - image_path: /assets/images/service/service2.jpg
    title: "Photos Enlargement"
    url: "/docs/configuration/"
    label: "Photos Enlargement"
  - image_path: /assets/images/service/service3.jpg
    title: "All size printing"
    url: "/docs/license/"
    label: "All size printing"
  - image_path: /assets/images/service/service4.jpg
    title: "Business Card"
    url: "/docs/license/"
    label: "Business Card"
  - image_path: /assets/images/service/service5.jpg
    title: "Watch Design"
    url: "/docs/license/"
    label: "Watch Design"
  - image_path: /assets/images/service/service6.jpg
    title: "Calender"
    url: "/docs/license/"
    label: "Calender"
  - image_path: /assets/images/service/service7.jpg
    title: "Poster"
    url: "/docs/license/"
    label: "Poster"
  - image_path: /assets/images/service/service8.jpg
    title: "Photo book"
    url: "/docs/license/"
    label: "Photo book"
  - image_path: /assets/images/service/service9.jpg
    title: "T-shirt Printing"
    url: "/docs/license/"
    label: "T-shirt Printing"
  - image_path: /assets/images/service/service10.jpg
    title: "4x6 to Ao Frames"
    url: "/docs/license/"
    label: "4x6 to Ao Frames"
  - image_path: /assets/images/service/service11.jpg
    title: "Design"
    url: "/docs/license/"
    label: "Design"
  - image_path: /assets/images/service/service12.jpg
    title: "Cartrige"
    url: "/docs/license/"
    label: "Cartrige"
  - image_path: /assets/images/service/service13.jpg
    title: "Cup Design"
    url: "/docs/license/"
    label: "Cup Design"
  - image_path: /assets/images/service/service14.jpg
    title: "Certificate"
    url: "/docs/license/"
    label: "Certificate"
  - image_path: /assets/images/service/service15.jpg
    title: "Roller Banner"
    url: "/docs/license/"
    label: "Roller Banner"
---
{% include slider.html selector="slider1" %}
{% include feature_row id="intro" type="center" %}
{% include item_row.html %}
{% include portfolio_row %}
